{% extends 'base.html' %}
{% block content %}
<!--1. Django Views/Form 사용-->

<!--일반어(번역할 언어) form-->

<form action="" method="POST">{% csrf_token %}
    <div class="pre-translated-form">
        {{ form.pre_translated_text }}
    </div>
    <!--번역하기 button-->
    <input type="submit" value="번역하기 >" />
</form>
<!--급식체(번역된 언어) 표시 부분-->
<textarea name="post-translated-content" id="" cols="30" rows="10">{{ translation.post_translated_text }}</textarea>













<!--&lt;!&ndash;2. DRF/AJAX 버전&ndash;&gt;-->

<!--&lt;!&ndash;일반어(번역할 언어) form&ndash;&gt;-->
<!--<form action="">-->
<!--<div class="pre-translated-form">-->
<!--<input class="pre-translated-content" name="pre_translated_content" type="text">-->
<!--</div>-->
<!--</form>-->
<!--&lt;!&ndash;번역하기 button&ndash;&gt;-->
<!--<button type="submit" class="translate-button">번역하기 ></button>-->
<!--&lt;!&ndash;급식체(번역된 언어) 표시 부분&ndash;&gt;-->
<!--<div class="post-translated-content">-->
<!--</div>-->
<!--&lt;!&ndash;jquery script tag&ndash;&gt;-->
<!--<script-->
<!--src="https://code.jquery.com/jquery-3.2.1.min.js"-->
<!--integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="-->
<!--crossorigin="anonymous"></script>-->

<!--&lt;!&ndash;번역하기 버튼을 클릭시 번역을 AJAX POST 요청으로 보내기&ndash;&gt;-->
<!--<script>-->
<!--</script>-->
{% endblock %}